use admin
db.auth("siteRootAdmin", "{{ db_root_admin_password }}");
{% for ip in groups['secondary'] %}
	rs.add("{{ ip }}:{{ db_port }}");
{% endfor %}
{#
  TODO: correct test to check if arbiter group is not empty (
  if groups['arbiter'].length > 0
      rs.addArb("{{ groups['arbiter'][0] }}:{{ db_port }}");
  endif
#}
