use admin
db.auth("siteRootAdmin", "{{ hostvars[inventory_hostname]['db_root_admin_password']  }}");
{% for ip in groups['secondary'] %}
	rs.add("{{ ip }}:27017");
{% endfor %}
rs.addArb("{{ groups['arbiter'][0] }}:27017");
