// Create administrative users
use admin;
db.createUser( {
    user: "{{ db_user_admin_username }}",
    pwd: "{{ db_user_admin_password }}",
    roles: [ { role: "userAdminAnyDatabase", db: "admin" } ]
});
db.createUser( {
    user: "{{ db_root_admin_username }}",
    pwd: "{{ db_root_admin_password }}",
    roles: [ { role: "root", db: "admin" } ]
});
