use admin
db.auth("{{ db_user_admin_username  }}", "{{ db_user_admin_password }}");
use {{ db_name }}
db.createUser({
    user: "{{ db_user_username }}",
    pwd: "{{ db_user_password }}",
    roles:
    [
      {
        role: "dbOwner",
        db: "{{ db_name }}"
      }
    ]
});
