systemLog:
   destination: file
   path: "/var/log/mongodb/mongod.log"
   logAppend: true
storage:
   journal:
      enabled: false
   engine: wiredTiger
   dbPath: "/data/db"
processManagement:
   fork: false
net:
   port: "{{ db_port }}"
   http:
      enabled: false
      JSONPEnabled: false
      RESTInterfaceEnabled: false
